# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Ignore the venv and env directories
Backend/env/
Backend/venv/

# Ignore large files
Backend/scripts/bird_species_classifier.h5
Backend/data/CUB_200_2011/attributes/image_attribute_labels.txt

# Large data files
*.jpg
*.png
/data

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
