.bird-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.bird-info-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bird-info-name {
    font-size: 2rem;
    margin: 20px 0 10px; 
    color: var(--textColor);
}

.bird-info-scientific {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 10px;
    color: var(--textColor400);
}

.bird-info-description {
    font-size: 1.2rem;
    color: var(--textColor400);
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
}

.bird-info-details {
    font-size: 1.1rem;
    color: var(--textColor500);
    margin-top: 20px;
    margin-bottom: 40px;
    padding-right: 80px;
    text-align: left; 
    padding-left: 80px;
}

.bird-info-details p {
    margin: 5px 0;
    
}
